In [50]:
import pandas as pd
import sys
path = '/Users/llupo/dev/pappa'
if not path in sys.path :
    sys.path.append(path)
from lm_classifiers import GPTClassifier
from task_manager import TaskManager

In [57]:
# import tsv as pandas
df = pd.read_csv('../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1.tsv', sep='\t', index_col=0)
df_labels_only = df[['prediction', 'gold_elin', 'gold_lena', 'gold_oscar']].fillna('NA')
# save new df as csv without column names
df_labels_only.to_csv('../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_labelsonly.csv', index=False, sep=',', header=False)

In [58]:
! /Users/llupo/dev/MACE/MACE --prefix ../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_mace ../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_labelsonly.csv

Reading CSV file '../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_labelsonly.csv'
....................100
....................200
....................300
.........
stats:
	350 instances,
	6 labels [PASSIVE, NA, ACTIVE_POS_OTHER, ACTIVE_NEG, ACTIVE_POS_CHALLENGING, ACTIVE_POS_CARING],
	4 annotators

Running Variational Bayes EM training with the following settings:
	50 iterations
	10 restarts
	smoothing = 0.0016666666666666668
	alpha = 0.5
	beta = 0.5

============
Restart 1
============
initial log marginal likelihood = -1895.7061527654348
final log marginal likelihood = -1655.643281959987

============
Restart 2
============
initial log marginal likelihood = -1933.3593233684114
final log marginal likelihood = -1655.6432819610707

============
Restart 3
============
initial log marginal likelihood = -1878.6215103738234
final log marginal likelihood = -1655.6432819590148

============
Restart 4
============
initial log marginal likelihood = -1928.651756193378
final log marginal likelihood = -1655.6432819592212

============
Restart 5
============
initial log marginal likelihood = -1903.878022857036
final log marginal likelihood = -1655.6432819603622

============
Restart 6
============
initial log marginal likelihood = -1869.398391410696
final log marginal likelihood = -1655.6432819594131

============
Restart 7
============
initial log marginal likelihood = -1905.3958675610304
final log marginal likelihood = -1655.6432819612044

============
Restart 8
============
initial log marginal likelihood = -1890.7483744123872
final log marginal likelihood = -1655.6432819608403

============
Restart 9
============
initial log marginal likelihood = -1901.9149459605617
final log marginal likelihood = -1655.6432819599656

============
Restart 10
============
initial log marginal likelihood = -1900.4106366868918
final log marginal likelihood = -1655.643281961059

Training completed in 0.113sec
Best model came from random restart number 3 (log marginal likelihood: -1655.6432819590148)
writing to file '../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_mace.prediction'...done
writing to file '../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_mace.competence'...done

In [59]:
df_mace_pred = pd.read_csv('../results/pappa/alldim/long_fewshot_gpt-4/pred_dim1_mace.prediction', header=None)
df_mace_pred.rename(columns={0: 'gold_mace2'}, inplace=True)
# join df_mace_pred to df
df = df.join(df_mace_pred, how='left')
df

,prompt,prediction,gold_elin,gold_lena,gold_oscar,gold_agg,gold_mace2
0,NaN,PASSIVE,PASSIVE,PASSIVE,PASSIVE,PASSIVE,PASSIVE
1,NaN,PASSIVE,PASSIVE,NaN,NaN,NaN,PASSIVE
2,NaN,PASSIVE,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,PASSIVE,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER
3,NaN,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER
4,NaN,PASSIVE,PASSIVE,PASSIVE,PASSIVE,PASSIVE,PASSIVE
...,...,...,...,...,...,...,...
345,NaN,ACTIVE_NEG,ACTIVE_NEG,ACTIVE_NEG,ACTIVE_NEG,ACTIVE_NEG,ACTIVE_NEG
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,NaN,PASSIVE,NaN,PASSIVE,PASSIVE,PASSIVE,PASSIVE
348,NaN,ACTIVE_POS_OTHER,ACTIVE_POS_OTHER,ACTIVE_POS_CARING,ACTIVE_POS_CARING,ACTIVE_POS_CARING,ACTIVE_POS_CARING
349,NaN,NaN,NaN,ACTIVE_POS_OTHER,NaN,NaN,NaN

In [60]:

# model_name=gpt-4
# max_len_model=4097
#     python main.py \
#     --data_file data/human_annotation/dim3.csv \
#     --instruction instructions/$instruction.txt \
#     --output_prompt "\\nLabel: " \
#     --model_name $model_name \
#     --max_len_model $max_len_model \
#     --task pappa_dim3 \
#     --output_dir tmp \
#     --evaluation_only \
#     --only_dim 2

task = 'pappa_dim1'
data_file = '../data/human_annotation/dim1.csv'

tm = TaskManager(task)
input_texts, _ = tm.read_data(data_file)
# gold labels are columns starting with gold_
gold_labels = df[[col for col in df.columns if col.startswith('gold_')]].fillna('NA')
gold_labels.columns = [col.replace('gold_', '') for col in gold_labels.columns]
classifier = GPTClassifier(input_texts, tm.labels, tm.label_dims)
df_kappa, df_accuracy, df_f1 = classifier.evaluate_predictions(df=df, gold_labels=gold_labels)

Evaluating predicitons...
   prompt        prediction         gold_elin         gold_lena  \
0     NaN           PASSIVE           PASSIVE           PASSIVE
1     NaN           PASSIVE           PASSIVE                NA
2     NaN           PASSIVE  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER
3     NaN  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER
4     NaN           PASSIVE           PASSIVE           PASSIVE

         gold_oscar          gold_agg        gold_mace2
0           PASSIVE           PASSIVE           PASSIVE
1                NA                NA           PASSIVE
2           PASSIVE  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER
3  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER  ACTIVE_POS_OTHER
4           PASSIVE           PASSIVE           PASSIVE
KAPPA:
         elin    lena   oscar     agg   mace2   model  mean_non_agg
elin   100.00   48.68   49.93   67.28   71.18   39.24         56.60
lena    48.68  100.00   53.37   75.09   69.09   46.90         57.05
oscar   49.93   53.37  100.00   78.19   71.46   45.28         58.25
agg     67.28   75.09   78.19  100.00   83.93   48.19         76.12
mace2   71.18   69.09   71.46   83.93  100.00   60.29         70.58
model   39.24   46.90   45.28   48.19   60.29  100.00         47.93

Annotators' mean kappa: 63.72
Model's mean kappa: 47.98
Diff in mean kappa: 15.74

ACCURACY:
         elin    lena   oscar     agg   mace2   model  mean_non_agg
elin   100.00   60.86   61.71   74.86   78.00   51.71         66.86
lena    60.86  100.00   66.86   81.71   77.43   60.86         68.38
oscar   61.71   66.86  100.00   84.00   79.14   59.43         69.24
agg     74.86   81.71   84.00  100.00   88.00   60.57         82.14
mace2   78.00   77.43   79.14   88.00  100.00   70.00         78.19
model   51.71   60.86   59.43   60.57   70.00  100.00         60.50

Annotators' mean accuracy: 72.96
Model's mean accuracy: 60.51
Diff in mean accuracy: 12.45

F1:
         elin    lena   oscar     agg   mace2   model  mean_non_agg
elin   100.00   57.28   57.15   68.85   73.55   44.69         62.66
lena    57.28  100.00   57.93   77.13   71.33   43.53         62.18
oscar   57.15   57.93  100.00   81.33   79.46   47.46         64.85
agg     68.85   77.13   81.33  100.00   85.05   46.23         78.09
mace2   73.55   71.33   79.46   85.05  100.00   56.48         74.78
model   44.69   43.53   47.46   46.23   56.48  100.00         48.04

Annotators' mean F1: 68.51
Model's mean F1: 47.68
Diff in mean F1: 20.83

In [53]:
df[[col for col in df.columns if col.startswith('gold_')]]
# remove the "gold_" prefix from the column names
df.columns = [col.replace('gold_', '') for col in df.columns]

            gold_elin          gold_lena         gold_oscar           gold_agg
0             PASSIVE            PASSIVE            PASSIVE            PASSIVE
1             PASSIVE                NaN                NaN                NaN
2    ACTIVE_POS_OTHER   ACTIVE_POS_OTHER            PASSIVE   ACTIVE_POS_OTHER
3    ACTIVE_POS_OTHER   ACTIVE_POS_OTHER   ACTIVE_POS_OTHER   ACTIVE_POS_OTHER
4             PASSIVE            PASSIVE            PASSIVE            PASSIVE
..                ...                ...                ...                ...
345        ACTIVE_NEG         ACTIVE_NEG         ACTIVE_NEG         ACTIVE_NEG
346               NaN                NaN                NaN                NaN
347               NaN            PASSIVE            PASSIVE            PASSIVE
348  ACTIVE_POS_OTHER  ACTIVE_POS_CARING  ACTIVE_POS_CARING  ACTIVE_POS_CARING
349               NaN   ACTIVE_POS_OTHER                NaN                NaN

[350 rows x 4 columns]